/* Elements */

main {
  width: 300px;
  height: 400px;
}

body {
  background-color: #f1f1f1 !important;
  margin: 0px !important;
}

/* Classes */

.title {
  font-family: sans-serif;
  color: white;
  margin-bottom: 0px;
}

.title-description {
  font-size: 12px;
  font-family: sans-serif;
  color: #5c5151cf;
  margin-top: 4px;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #00b98d;
  flex-wrap: wrap;
  align-content: center;
  position: relative;
  z-index: 10;
  box-shadow: rgb(99 99 99 / 58%) 0px 2px 8px 0px;
}

.main-section {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fefefe;
  padding: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  color: #0000009c;
  position: relative;
  z-index: 10;
  box-shadow: rgb(99 99 99 / 58%) 0px 2px 8px 0px;
}
